// 黑白灰
$c55: #555;
$cff: #fff;
$c00: #000;
$c66: #666;
$c22: #2D2E32;
$c33: #333;
$ce3: #E3E3EA;
$cf3: #F3F5FB;
$c88: #80859E;
$cde: #DEE2F0;
$c9e: #80859E;
$ce8: #E9E9EA;
$c32: #2D2E32;
$cF6: #F3F5F6;
$c99: #8A8D99;
$caa: #ABB0C9;
// 彩色
$yellow: #FFBC69;
$orange: #FF8637;
$dOrange: #FC796E;
$cyan: #47E7B0;
$green: #22CA78;
$cSell: #EF5784;
$cBuy: #12BC7E;
$blue: #2C47D6;
