html {font-size: 100px;}
@media screen and (min-width: 320px) {
	html {font-size: 85px;}
}
@media screen and (min-width: 360px) {
	html {font-size: 96px;}
}
@media screen and (min-width: 375px) {
	html {font-size: 100px;}
}
@media screen and (min-width: 384px) {
	html {font-size: 102.4px;}
}
@media screen and (min-width: 400px) {
	html {font-size: 106.666px;}
}
@media screen and (min-width: 414px) {
	html {font-size: 110.4px;}
}
@media screen and (min-width: 424px) {
	html {font-size: 113px;}
}
@media screen and (min-width: 480px) {
	html {font-size: 128px;}
}
@media screen and (min-width: 540px) {
	html {font-size: 144px;}
}
@media screen and (min-width: 750px) {
	html {font-size: 200px;}
}
body {font-size: rem(24);}
