input,textarea,select,button {
  // 重置苹果默认input样式
  -webkit-appearance: none;color:$c55;
  &[type="radio"]{-webkit-appearance: radio;}
  &[type="checkbox"]{-webkit-appearance: checkbox;}
  // 修改点击背景颜色
  -webkit-tap-highlight-color:rgba(#fff, 0);
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type="number"]::-webkit-outer-spin-button {-webkit-appearance: none;}
