.outer {
  width: rem(750);
  margin: 0 auto;min-height: 100vh;
  background: $cff;
  // overflow-x: hidden;
  // @extend .cf;
  .none {
    display: none;
  }
}

* {
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none; /*火狐*/
  -ms-user-select:none;  /*IE10*/
  user-select:none;
}

input,textarea {
  -webkit-user-select:auto; /*webkit浏览器*/
}
input[type="password"] {
  user-select:none;
}
