// 图片资源路径前缀
$res: '//static.tss885.com/image/water-lemon-h5/';
// 基础样式
@import "base/main";

/*
  上面的文件是基础scss文件，必须提前引入
  下面的文件是由 src/style/ 目录下的 非 base 目录的所有文件自动生成的
  新增 scss 文件后，执行 npm run style 命令 更新 src/style/style.scss 文件
*/
@import "views/_web.scss";
